*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary */
  --primary-100: #f4c0d1;
  --primary-200: #eea7be;
  --primary-300: #e78ea9;
  --primary-400: #e17596;
  --primary-500: #d81159;
  --primary-600: #c10f50;
  --primary-700: #a90d45;
  --primary-800: #920a3b;
  --primary-900: #7a082f;

  /* secondary */
  --secondary-100: #b3e0ff;
  --secondary-200: #80ccff;
  --secondary-300: #4db8ff;
  --secondary-400: #1aa3ff;
  --secondary-500: #0496ff;
  --secondary-600: #0386e6;
  --secondary-700: #0273bf;
  --secondary-800: #026099;
  --secondary-900: #014d73;

  /* grey */
  --gray-100: #f2f2f2;
  --gray-200: #e6e6e6;
  --gray-300: #d9d9d9;
  --gray-400: #bfbfbf;
  --gray-500: #a6a6a6
  --gray-600: #8c8c8c;
  --gray-700: #737373;
  --gray-800: #595959;
  --gray-900: #404040;

  /* other color */
  --black: #000000;
  --white: #ffffff;

  /* common colors */
  --background-color: var(--gray-200)
  --text-color: var(--gray-900);
}

html {
  font-size: 62.5%;
  margin-top: 0;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Century Gothic", Sans-Serif;
  overflow-x: hidden;
}
